{var $title = "Redirections history"}

{define scripts}
    <script type="text/javascript" src="{$basePath}/src/nette-extension/redirect.js"></script>
{/define}

{block #content}
<h2>Redirection without AJAX</h2>
<p>
	You were redirected to this page without AJAX beacouse previous response returned HTML. For ajax is needed to receive JSON with snippets into payload. Try to go back by browser history back button.
</p>



