<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-sm" title="Small">Open small</a>
<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-md" title="Medium">Open medium</a>
<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-lg" title="Large">Open large</a>
<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-danger" title="Danger operation on your account!">Danger
	style</a>
<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-warning" title="Pay attention!">Warning style</a>
<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-success" title="Have a fun">Success style</a>
<a n:href="content" class="btn btn-secondary modal-ajax modal-ajax-no-header">No-header</a>
<a n:href="content" class="btn btn-secondary modal-ajax">No-title</a>