{var $title = "Modal integrations"}

{define scripts}
    <script type="text/javascript" src="{$basePath}/../dist/nette-extensions.js"></script>
{/define}

{block #content}

{include '_actions.latte'}