{var $title = "Modal integrations"}

{define scripts}
	<script type="text/javascript" src="{$basePath}/../dist/front-end.js"></script>
{/define}
{define styles}
	<link rel="stylesheet" href="{$basePath}/../dist/front-end.css">
{/define}

{block #content}

{include '_actions2.latte'}