.modal-header .modal-header-button {
    float: right;
    color: #000000;
    opacity: 0.2;
    margin-left: 10px;
    line-height: 1;
}

.modal-header .refresh[href='#'] {
    display: none;
}

.modal-header .close {
    font-size: 17px;
    margin-top: 2px;
}

.modal-header .refresh {
    font-size: 14px;
    margin-top: 4px;
}