.modal-content.modal-danger .modal-header {
    background-color: #d9534f;
    border-radius: 4px 4px 0 0;
    color: white;
}

.modal-content.modal-warning .modal-header {
    background-color: #f0ad4e;
    border-radius: 4px 4px 0 0;
    color: white;
}

.modal-content.modal-success .modal-header {
    background-color: #5cb85c;
    border-radius: 4px 4px 0 0;
    color: white;
}
.modal-header .modal-header-button {
    float: right;
    color: #000000;
    opacity: 0.2;
    margin-left: 10px;
    line-height: 1;
}

.modal-header .refresh[href='#'] {
    display: none;
}

.modal-header .close {
    font-size: 17px;
    margin-top: 2px;
}

.modal-header .refresh {
    font-size: 14px;
    margin-top: 4px;
}