@media screen {
    .pipas-spinner {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1041;
    }

    body > .pipas-spinner {
        position: fixed;
    }

    .pipas-spinner > * {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1042;
        display: block;
    }

    .pipas-spinner  i.fa-spinner{
        color:white;
    }
}